.bread-crumb {
    margin-bottom: 20px;
    min-height: 200px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.bread-crumb .title-bread-crumb {
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}
.cartpcstyle {
    min-height: 300px;
}
.d-none {
    display: none !important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.cart-page {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}
.cart-page .cart-header-info {
    display: flex;
    display: flex;
    padding: 7px 0;
    border: solid 1px #ebebeb;
    border-bottom: none;
    font-weight: bold;
}
.cart-page .cart-header-info div:nth-child(1) {
    width: 51%;
    text-align: left;
    padding-left: 10px;
}
.cart-page .cart-header-info div:nth-child(2) {
    width: 16%;
    text-align: center;
}
.cart-page .cart-header-info div:nth-child(3) {
    width: 16%;
    text-align: center;
}
.cart-page .cart-header-info div:nth-child(4) {
    width: 16%;
    text-align: center;
}
.cart-page .cart_body {
    border: solid 1px #ebebeb;
}
.cart-page .cart_body .ajaxcart__row:first-child {
    border-top: none;
}
.cart-page .cart_body .ajaxcart__row .cart_product {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
.cart-page .cart_body .cart_image {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.cart-page .cart_body .cart_image img {
    max-width: 100%;
    max-height: 100%;
}
.cart-page .cart_body .cart_info {
    padding-left: 15px;
    vertical-align: top;
    padding-right: 10px;
    display: flex;
    width: calc(100% - 110px);
    -webkit-width: calc(100% - 110px);
    -moz-width: calc(100% - 110px);
    -o-width: calc(100% - 110px);
    -os-width: calc(100% - 110px);
}
.cart-page .cart_body .cart_info .cart_name {
    width: 50%;
    margin-bottom: 5px;
}
.cart-page .cart_body .cart_info .cart_name a {
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    line-height: 18px;
    display: block;
}
.cart-page .cart_body .cart_info .variant-title {
    display: block;
    font-size: 12px;
}
.cart-page .cart_body .cart_info .cart_name .remove-item-cart {
    border: none;
    display: block;
    color: #679210;
}
.cart-page .cart_body .grid {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-page .cart_body .grid .cart_prices .cart-price {
    font-weight: bold;
    display: block;
    font-size: 14px;
    color: #679210;
}
.cart-page .cart_body .cart_select {
    display: block;
    width: 100%;
    min-height: 30px;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
    width: auto;
    float: left;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #679210;
    border-radius: 5px;
    padding: 2px;
}
.cart-page .cart_body .cart_select button {
    font-size: 20px;
    line-height: 0px;
    border: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #679210;
    float: left;
    color: #fff;
    text-align: center;
    padding: 0px;
    border-radius: 5px;
}
.cart-page .cart_body .cart_select input {
    padding: 0 2px;
    text-align: center;
    margin: 0px;
    display: block;
    float: left;
    height: 25px;
    border: 0;
    width: 30px;
    text-align: center;
    box-shadow: none;
    border-radius: 8px;
    font-size: 15px;
    background: transparent;
}
.cart-page .ajaxcart__footer {
    margin-top: 20px;
}
.cart-page .ajaxcart__footer .cart__subtotal {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex;
}
.cart__col-6 {
    width: 50%;
    float: left;
}
.cart-page .ajaxcart__footer .cart__subtotal .cart__totle {
    width: 50%;
    float: left;
    text-align: right;
}
.cart-page .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
    color: #679210;
    font-weight: bold;
}
.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt {
    display: block;
    position: relative;
}
.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
    width: 100%;
    background-color: #679210;
    color: #fff;
    text-align: center;
    /*line-height: 40px;*/
    border: 1px solid #679210;
    border-radius: 5px;
}
.total-price {
    color: #679210;
    font-weight: bold;
}
.formVAT {
    padding: 10px;
    background: #efffcf;
    width: 100%;
    float: left;
    border-radius: 5px;
}
form h4 {
    font-size: 18px;
    font-weight: bold;
}
.r-bill .bill-field .form-group {
    margin-bottom: 10px;
    padding: 0;
}
.r-bill .bill-field label {
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 0;
}
.r-bill .bill-field .form-control {
    box-shadow: none;
    background-clip: padding-box;
    border-radius: 3px;
    border-color: #e6e6e6;
    height: 34px;
    font-size: 14px;
    border: initial;
    width: 100%;
}
.r-bill .bill-field .form-group input {
    margin-bottom: 0;
}