.bread-crumb {
    margin-bottom: 20px;
    min-height: 200px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-image: url("https://bizweb.dktcdn.net/100/485/131/themes/906771/assets/breadcrumb.jpg?1686556941849");
}
.bread-crumb .title-bread-crumb {
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}
.layout-product {
    padding-bottom: 30px;
}
.product-image-block {
    position: sticky;
    top: 0;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.gallery-top .swiper-slide {
    padding-bottom: 100%;
    display: block;
    height: 0;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
}
.gallery-top .swiper-slide img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 99%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    position: absolute;
    border-radius: 5px;
}
.layout-product .details-pro {
    background: #fff;
    border-radius: 5px;
}
.title-product {
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 15px;
    color: #679210;
}
.layout-product .inventory_quantity {
    font-size: 16px;
    margin-bottom: 10px;
}
.layout-product .inventory_quantity .thump-break .a-stock, .layout-product .inventory_quantity .thump-break .a-vendor, .layout-product .inventory_quantity .thump-break .variant-sku {
    font-weight: 400;
    color: #679210;
}
.reviews_details_product {
    margin-bottom: 15px;
}
.layout-product .details-pro .price-box {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background: #efffcf;
}
.layout-product .details-pro .price-box .special-price {
    font-size: 30px;
    font-weight: 600;
    color: #679210;
    display: inline-block;
}
.layout-product .flex-quantity {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}
.layout-product .input_number_product {
    display: block;
    width: 100%;
    min-height: 30px;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
    width: auto;
    float: left;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #679210;
    border-radius: 5px;
    padding: 2px;
}
.layout-product .input_number_product .btn_num {
    font-size: 20px;
    line-height: 0px;
    border: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #679210;
    float: left;
    color: #fff;
    text-align: center;
    padding: 0px;
    border-radius: 5px;
}
.layout-product .input_number_product input {
    padding: 0 2px;
    text-align: center;
    margin: 0px;
    display: block;
    float: left;
    height: 35px;
    border: 0;
    width: 60px;
    text-align: center;
    box-shadow: none;
    border-radius: 8px;
    font-size: 15px;
}
.product-action .product-info .price-box .compare-prices {
    color: #666;
    display: inline-block;
    margin-left: 20%;
    font-weight: 400;
    font-size: 14px;
}
.layout-product .flex-quantity .sl {
    display: block;
    font-weight: 600;
}
.layout-product .button_actions {
    float: left;
    width: 100%;
    margin-top: 10px;
    display: flex;
}
.layout-product .button_actions .add_to_cart {
    border: 2px solid #679210;
    height: 50px;
    padding: 0 0px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    background: #fff;
}
.layout-product .button_actions .add_to_cart .icon {
    min-width: 60px;
}
.layout-product .button_actions .add_to_cart .icon svg {
    width: 30px;
    height: 30px;
}
.layout-product .button_actions .add_to_cart .icon svg path {
    fill: #679210;
}
.layout-product .button_actions .add_to_cart .text {
    width: 100%;
    height: 100%;
    background: #679210;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.layout-product .button_actions .add_to_cart .txt-main {
    font-weight: 600;
}
.layout-product .button_actions .add_to_cart .text_2 {
    display: block;
    font-size: 12px;
    text-transform: none;
}
.chinhsach-pro {
    margin-bottom: 30px;
    background: #efffcf;
    padding: 10px;
    border-radius: 5px;
}
.chinhsach-pro .title-head {
    margin-bottom: 15px;
    position: relative;
    font-size: 22px;
    font-weight: 700;
    color: #679210;
    display: inline-block;
}
.chinhsach-pro .title-head img {
    height: 25px;
    position: relative;
    top: -5px;
}
.chinhsach-pro .item {
    display: flex;
    align-items: center;
    margin: 0 auto 0 auto !important;
}
.chinhsach-pro .col-12 {
    margin-bottom: 15px;
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.chinhsach-pro .item .text {
    color: #000;
    padding-left: 10px;
}
.chinhsach-pro .item .text .title {
    display: block;
    color: #679210;
    font-size: 16px;
    font-weight: 600;
}
@media (min-width: 1200px){
    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }}
.productRelate {
    margin-bottom: 30px;
}
.group_title_index {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #679210;
}
.group_title_index .title {
    margin-bottom: 0;
}
.group_title_index .title .title-name {
    margin-bottom: 0;
    position: relative;
    font-size: 26px;
    font-weight: 700;
    color: #679210;
}
.group_title_index .title .title-name img {
    height: 25px;
    position: relative;
    top: -5px;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.product-action {
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    position: relative;
    background: #fff;
}
.product-action .product-thumbnail {
    position: relative;
    padding: 10px;
}
.khuyen-mai {
    margin-top: 20px;
}
.khuyen-mai .title {
    width: auto;
    color: #fff;
    font-weight: 600;
    background: #679210;
    border-radius: 5px 5px 0px 0px;
    font-size: 14px;
    display: inline-flex;
    padding: 5px 15px;
    align-items: center;
    border: 2px solid #679210;
}
.khuyen-mai .title img {
     width: 30px;
     height: auto;
     margin-right: 10px;
 }
.khuyen-mai .content {
    padding-bottom: 5px !important;
    padding: 25px 15px 15px 15px;
    border-radius: 0 5px 5px 5px;
    position: relative;
    border: 1px solid #679210;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.product-action {
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    position: relative;
    background: #fff;
}
.product-action .product-thumbnail {
    position: relative;
    padding: 10px;
}
.product-action .product-thumbnail .image_thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    -o-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -os-justify-content: center;
    -o-display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    -os-display: flex;
    align-items: center;
    position: relative;
    height: auto !important;
    padding-bottom: 100%;
}
.product-action .product-thumbnail .image_thumb img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    will-change: opacify;
    transform: scale(1);
    transition: all 0.5s ease;
}
.product-action .action {
    position: absolute;
    top: 0px;
    right: 0;
}
@media (min-width: 1025px){
    .product-action:hover .product-thumbnail .btn-views {
        width: auto;
        padding: 9px 10px;
    }}
.product-action .action .btn-views:first-child {
    border-radius: 10px 10px 0px 0px;
}
.product-action .action .btn-views {
    border: 0;
    border-radius: 0;
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    margin-bottom: 5px;
    background: #679210;
    width: 0;
    padding: 0;
}
.product-action .action .btn-cart svg {
    animation: play 2s ease infinite;
}
.product-action .action .btn-views {
    border: 0;
    border-radius: 0;
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    margin-bottom: 5px;
    background: #679210;
    width: 0;
    padding: 0;
}
.product-action .product-info {
    padding: 10px;
}
.product-action .product-info .product-name {
    font-size: 16px;
    text-align: left;
}
.line-clamp-2 {
    -webkit-line-clamp: 2;
    height: calc(1em * 1.4 * 2);
}
.line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.4 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
}
.product-action .product-info .price-box {
    margin-bottom: 5px;
    position: relative;
    color: #679210;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}