body {
    font-family: Arial, Helvetica, Arial, sans-serif
}

.page {
    max-width: 1170px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a, a:hover {
    text-decoration: none
}

img {
    max-width: 100%
}

.header-top {
    background-color: #f5f5f5
}

.header-top ul li {
    float: left
}

.header-top ul li a {
    display: block;
    font-size: 12px;
    line-height: 30px;
    color: #333;
    padding: 0 15px 0 0;
    text-transform: uppercase
}

.header-logo {
    display: block;
    margin: 5px 0 5px;
    margin-left: 50px;
}

.header-nav {
    margin-top: 35px
}

.header-nav ul li {
    float: left
}

.header-nav ul li a {
    display: block;
    font-size: 14px;
    padding: 0 10px;
    color: #f0f3f3;
    text-transform: uppercase
}

.header-nav ul li a span {
    padding: 0 5px
}

.header-search {
    margin: 5px 0;
    position: relative;
    float: right;
    width: 100%;
    margin-top: 44px;
}

#header-search-input {
    width: 100%;
    background-color: #fff;
    outline: none;
    border: 1px solid #ddd;
    height: 36px;
    padding: 8px 10px;
    font-size: 12px;
    color: #333;
    padding-right: 40px
}

#header-search-btn {
    position: absolute;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #484848;
    height: 36px;
    width: 36px;
    padding: 0;
    top: 0;
    right: 0;
}

.header-cart {
    margin-top: 46px;
    position: relative;
}

.header-cart > .cart-mini {
    position: absolute;
    top: 100%;
    z-index: 999;
    width: 300px;
    right: 0;
    display: none
}

.header-cart:hover > .cart-mini {
    display: block;
    max-height: 400px;
    overflow: auto;
}

#add_succes p i {
    color: #663399;
    margin-right: 10px
}

#add_succes p {
    margin: 5px 0
}

.cart-mini {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e6e6e6
}

.cart-mini ul li {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6
}

.cart-mini ul li + li {
    padding-top: 10px
}

.cart-mini .cm-image {
    float: left;
    margin-right: 10px
}

.cart-mini .cm-name, .cart-mini .cm-name a {
    color: #464646;
    word-break: break-word
}

.cart-mini .cm-price {
    color: #663399;
    font-size: 12px
}

.cart-mini .fa-remove {
    color: red;
    cursor: pointer
}

.cart-mini-total-money {
    font-size: 16px;
    padding: 10px 0
}

.cart-mini-link a {
    color: #4d4d4d;
    display: inline-block;
    background-color: #efefef;
    padding: 5px 10px
}

.cart-mini-link a:hover {
    background-color: #663399;
    color: #fff
}

.header-menu-btn span {
    font-size: 25px;
    vertical-align: middle;
}

.header-menu-btn a {
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    line-height: 27px;
    display: inline-block;
    margin-bottom: 10px;
}

.header-menu-btn-hidden {
    overflow: hidden
}

.header-menu-btn-hidden span {
    color: #663399;
    margin: 20px
}

.cart-icon {
    display: block;
    float: right;
    height: 32px;
    padding-left: 0px;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px
}

.cart-icon:hover {
    color: #333
}

.main-nav {
    background-color: #663399
}

.main-nav-content ul {
    float: right;
}

.main-nav-content ul li {
    float: left;
    position: relative;
}

.main-nav-content ul li a {
    font-size: 14px;
    line-height: normal;
    color: #fff;
    display: block;
    padding: 14px 13px 15px;
    text-transform: uppercase
}

.main-nav-content ul li:hover > a {
    background: #ecaaab;
}

.cart-icon .fa {
    font-size: 30px;
    float: left;
    margin-right: 7px;
    color: #663399;
}

.cart-icon p {
    display: block;
    float: left;
    line-height: 39px;
}

.main-nav-content ul li:hover > ul {
    display: block !important;
}

.main-nav-content ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ecaaab;
    z-index: 999;
    width: 250px;
    display: none;
}

.main-nav-content ul ul li {
    width: 100%;
}

.main-nav-content ul ul li a {
    padding: 10px 15px;
}

.main-nav-content ul ul li:hover > a {
    text-decoration: underline;
}

.main-nav-content ul ul ul {
    left: 100%;
    top: 0;
}

.main-service {
    background-color: #f8f2e6
}

.main-service p {
    margin: 0;
    color: #484848;
    font-size: 15px;
    padding: 10px 0
}

.main-service p a {
    color: #484848;
}

.header-menu-btn {
    float: left;
    margin-left: 15px;
}

.main-service p span {
    margin-right: 5px;
    padding: 12px;
    background-color: #484848;
    color: #fff;
    height: 38px;
    width: 38px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.owl-next, .owl-prev {
    height: 38px;
    width: 38px;
    position: absolute;
    top: 50%;
    margin-top: -19px
}

.owl-next {
    background-repeat: no-repeat;
    right: 0
}

.owl-next:hover {
}

.owl-prev {
    background-repeat: no-repeat;
    left: 0
}

.owl-prev:hover {
}

.box-heading {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px
}

.box-heading h3 {
    font-size: 20px;
    color: rgba(128, 11, 149, 0.94);
    margin: 0;
    border-bottom: 2px solid
    #663399;
    display: inline-block;
    padding: 0 0 12px
}

.box-heading h2 {
    font-size: 20px;
    color: #663399;
    margin: 0;
    border-bottom: 2px solid #663399;
    display: inline-block;
    padding: 0 0 12px
}

.product-list-carousel .box-heading h2, .product-list-carousel .box-heading h3 {
    margin-right: 90px;
}

.main-breadcrumb {
    margin: 0
}

.main-breadcrumb .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    padding: 15px 0;
    margin-bottom: 0;
}

.main-breadcrumb .breadcrumb > .active {
    color: #663399
}

.main-breadcrumb .breadcrumb > li + li:before {
    content: "\f105";
    font-family: "FontAwesome";
    color: #737373
}

.main-breadcrumb .breadcrumb li a {
    color: #737373;
    font-size: 14px
}

.main-categories, .main-slider-content {
    margin: 14px 0
}

.main-categories {
    border: 1px solid #ffffff;
}

.main-categories-heading {
    color: #fff;
    background-color: #663399;
    font-size: 16px;
    text-transform: uppercase;
    padding: 17px 15px 17px 15px;
    margin: 0
}

.main-categories-content {
    padding: 10px 15px 10px 15px;
    height: 435px;
    background-color: rgba(234, 160, 161, 0.89);
    overflow: auto;
}

.mc-list > li > a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 0;
    display: block
}

.mc-list > li > a > span {
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    display: block
}

.mc-list-child > li > a {
    font-size: 14px;
    color: #454545;
    display: block;
    padding: 6px 0 7px
}

.mc-list-child > li > a::before {
    content: "";
    height: 5px;
    width: 5px;
    margin: 0 5px 2px 10px;
    display: inline-block;
    background-color: #454545;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.main-slider-content .item img {
    width: 100%
}

.main-slider-content .owl-next {
    right: 20px
}

.main-slider-content .owl-prev {
    left: 20px
}

.main-banner img {
    margin: 14px 0;
    width: 100%;
}

.main-banner-center {
    padding: 20px 0
}

.product-list-carousel .item {
    margin: 0 15px
}

.product-list-carousel .owl-next {
    top: -60px;
    right: 0
}

.product-list-carousel .owl-prev {
    top: -60px;
    left: auto;
    right: 45px
}

.product-carousel {
    margin-bottom: 15px;
    text-align: center;
}

.product-carousel .product-name, .product-carousel .product-name a {
    font-size: 16px;
    color: #464646;
    height: 40px;
    display: block;
    line-height: 20px;
    overflow: hidden;
    word-break: break-word
}

.product-carousel img {
    width: 100%;
}

.product-carousel .product-price {
    font-size: 18px !important;
    height: 50px;
    color: #663399 !important
}

.product-carousel .product-price span {
    font-size: 12px;
    color: #959595
}

.product-carousel .product-atc {
    font-size: 16px;
    color: #4d4d4d;
    display: inline-block;
    background-color: #efefef;
    padding: 12px 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.product-carousel .product-atc:hover {
    background-color: #663399;
    color: #fff
}

.product-list-list .product-carousel {
    margin-bottom: 25px;
    overflow: hidden
}

.product-list-list .product-image {
    margin-bottom: 10px;
    display: block;
}

.product-list-list .product-carousel .product-name {
    margin-top: 0;
}

.main-blog {
    padding: 0 0 25px;
    background-color: #fff
}

.main-article .article-image {
    display: block;
    margin-bottom: 15px
}

.main-article .article-info {
    font-size: 14px;
    color: #959595;
    border-bottom: 1px solid #ebebeb;
    padding: 0 0 10px;
    margin: 0
}

.main-article .article-title, .main-blog .article-title a {
    font-size: 18px;
    color: #232323;
    margin: 10px 0
}

.main-article .article-description {
    font-size: 14px;
    color: #555;
    line-height: 19px;
    margin: 0;
    text-align: justify;
    margin-bottom: 5px
}

.main-article .article-readmore {
    font-size: 12px;
    color: #555
}

.main-blog .article-readmore span {
    margin-left: 5px
}

.main-brand {
    padding: 15px 0;
    background: #f5f5f5;
}

.brand-carousel .item {
    text-align: center
}

.footer {
    background-color: #663399
}

.footer-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.footer-info p {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 0;
}

.footer-info p span {
    color: #fff;
    margin-right: 5px
}

.footer-info p a {
    color: #ffffff
}

.footer-info {
    margin-bottom: 15px;
}

.footer-info span {
    width: 16px;
}

.footer-menu {
    margin-bottom: 10px;
}

.footer-menu .footer-menu-heading {
    padding: 30px 0;
    border-bottom: 1px solid #323232;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase
}

.footer-menu ul li a {
    display: block;
    padding: 5px 0;
    color: #bcbec0;
    font-size: 14px;
    font-family: arial;
}

.footer-menu ul li a:hover {
    color: #663399
}

.footer-bottom {
    border-top: 1px solid #292a29
}

.footer-bottom .copy-right {
    margin: 0;
    padding: 15px 0;
    font-size: 12px;
    color: #fff
}

.footer-bottom .payments {
    padding-top: 10px
}

.collection-categories-heading {
    color: #1a1a1a;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6
}

.collection-categories-heading span {
    margin-right: 5px
}

.cc-list > li {
    border-bottom: 1px dotted #e6e6e6
}

.cc-list > li > a {
    font-size: 14px;
    color: #454545;
    font-weight: 700;
    padding: 10px 0;
    display: block
}

.cc-list > li > a > span {
    float: right
}

.cc-list-child > li > a {
    font-size: 14px;
    color: #737373;
    display: block;
    padding: 5px 0
}

.cc-list-child > li > a::before {
    content: "";
    height: 5px;
    width: 5px;
    margin: 0 10px 2px;
    display: inline-block;
    background-color: #454545
}

.colletion-topbar {
    overflow: hidden;
    margin-top: 40px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 25px
}

.colletion-topbar .btn-view a {
    color: #000;
    margin: 5px 5px 5px 0;
    display: inline-block
}

.colletion-topbar .pagination {
    margin: 0
}

.colletion-topbar .pagination > li > a, .colletion-topbar .pagination > li > span {
    border: none;
    color: #000;
    padding: 5px 10px
}

.collection-tags {
    margin-top: 45px
}

.collection-tags-heading {
    color: #1a1a1a;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6
}

.collection-tags-content {
    padding: 30px 0
}

.collection-tags-content a {
    display: inline-block;
    color: #7d7d7d;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #7d7d7d;
    margin: 6px 10px 6px 0
}

.collection-tags-content a:hover {
    background-color: #000;
    color: #fff
}

.pd-top {
    margin-bottom: 30px
}

.pd-name {
    font-size: 26px;
    color: #464646;
    margin: 0 0 20px
}

.pd-description-mini {
    font-size: 14px;
    color: #737373;
    line-height: 21px;
    text-align: justify
}

.pd-price {
    font-size: 28px;
    color: #663399;
    font-weight: 700
}

.pd-price span {
    font-size: 18px;
    color: #959595;
    font-weight: 400
}

.pd-form label {
    width: 100%;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    margin: 8px 0
}

.pd-form select {
    height: 40px;
    width: 100%;
    max-width: 150px;
    font-size: 14px;
    color: #737373;
    padding: 10px;
    border: 1px solid #cdcdcd;
    outline: none;
    margin: 8px 0
}

.pd-form input {
    height: 40px;
    width: 100%;
    max-width: 150px;
    font-size: 14px;
    color: #737373;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #cdcdcd;
    outline: none
}

.pd-form button {
    font-size: 16px;
    color: #4d4d4d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #efefef;
    padding: 14px 15px;
    border: none;
    margin: 8px 0
}

#gallery_01 {
    margin-top: 30px
}

#gallery_01 li a img {
    padding: 5px 0;
}

#gallery_01 .flex-direction-nav > li {
    position: absolute;
    right: 50%
}

#gallery_01 .flex-direction-nav > li > a {
    font-family: "FontAwesome";
    color: #d9d9d9
}

#gallery_01 .flex-direction-nav .flex-next::before {
    content: "\f176"
}

#gallery_01 .flex-direction-nav .flex-prev::before {
    content: "\f175"
}

#gallery_01 .flex-direction-nav .flex-nav-next {
    top: 0
}

#gallery_01 .flex-direction-nav .flex-nav-prev {
    bottom: -30px
}

.pd-nav > li > a {
    font-size: 16px;
    color: #131313;
    padding: 10px 0;
    text-transform: uppercase;
    margin-right: 20px;
    height: 41px
}

.pd-nav > li > a:hover {
    background-color: #fff;
    border: none
}

.pd-nav > li.active > a, .pd-nav > li.active > a:focus, .pd-nav > li.active > a:hover {
    border: none;
    border-bottom: 2px solid #663399
}

.pd-best-seller .heading {
    border-bottom: 1px solid #e6e6e6
}

.pd-best-seller .heading h3 {
    font-size: 18px;
    color: #131313;
    padding: 10px 0;
    text-transform: uppercase;
    border-bottom: 2px solid #663399;
    margin: 0;
    display: inline-block
}

.pd-best-seller ul {
    padding: 8px 0
}

.pd-best-seller ul li {
    padding: 14px 0
}

.pd-best-seller .pd-bs-name {
    margin: 0;
    font-size: 14px;
    color: #464646;
    line-height: 20px;
    padding: 6px 0;
}

.pd-best-seller .pd-bs-price {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    color: #663399
}

.pd-best-seller .pd-bs-price span {
    font-size: 12px;
    color: #959595
}

.tab-pane {
    padding: 20px 0
}

.cart {
    margin-bottom: 40px
}

.cart_table td {
    vertical-align: middle !important
}

.item-name, .item-price, .item-total, .item-remove {
    font-size: 16px;
    color: #333
}

.item-quantity {
    width: 50px;
    border: 1px solid #e3e3e3;
    text-align: center
}

.cart-table thead th {
    font-size: 14px;
    color: #444;
    text-transform: uppercase;
    padding: 22px 0
}

.btn-cart {
    font-size: 13px;
    color: #555;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #ebebeb;
    padding: 12px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff
}

.btn-cart + .btn-cart {
    margin-left: 10px
}

.blog-heading {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0
}

.blog-new-content {
    padding: 10px 0
}

.blog-new-content ul li {
    padding: 10px 0;
    float: left;
    width: 100%;
}

.blog-new-content ul li + li {
    border-top: 1px solid #eee
}

.bn-name {
    font-size: 15px;
    color: #555;
    display: block
}

.blog-tags-content {
    padding: 15px 0
}

.blog-tags-content a {
    margin: 5px 5px 5px 0;
    font-size: 13px;
    color: #888;
    padding: 6px 10px;
    border: 1px solid #eee;
    display: inline-block
}

.blog-item {
    margin-bottom: 40px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px
}

.blog-info {
    font-size: 14px;
    color: #959595;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin: 0px auto 20px
}

.blog-name, .blog-name a {
    font-size: 20px;
    color: #232323;
    margin-top: 0;
}

.blog-description {
    font-size: 14px;
    color: #555;
    line-height: 26px;
    text-align: justify
}

.blog-readmore {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px
}

.pagination-blog > li > a, .pagination-blog > li > span {
    font-size: 14px;
    color: #666;
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2
}

.blog-video-content iframe {
    max-width: 100%;
    height: auto
}

.article-name {
    font-size: 32px;
    color: #333;
    margin: 0;
    padding: 0 0 15px;
    font-family: Arial;
}

.article-info ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 15px 0;
    color: #555
}

.article-info ul li span {
    margin-right: 5px;
    color: #aaa
}

.comment-list {
    padding: 20px 0;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2
}

.comment-heading {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 20px
}

.comment .comment-info {
    font-size: 14px;
    color: #333
}

.comment {
    padding: 22px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px
}

.comment img {
    float: left;
    margin-right: 20px
}

.comment .comment-info span {
    font-size: 13px;
    color: #999
}

.comment-description {
    font-size: 14px;
    color: #666;
    word-break: break-word;
    text-align: justify
}

.comment-add {
    margin: 30px 0 80px
}

.not_found {
    margin-bottom: 40px
}

.not_found h2 {
    font-size: 200px;
    color: #663399
}

.not_found h3 {
    font-size: 28px;
    color: #666
}

.btn-not-found {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    background-color: #663399;
    padding: 10px 15px;
    margin: 10px
}

.not_found p {
    font-size: 16px;
    color: #555
}

.form-style input, .form-style textarea {
    width: 100%;
    margin: 10px 0;
    font-size: 13px;
    color: #aaa;
    border: 1px solid #e4e4e4;
    padding: 10px;
    outline: none
}

.form-style select {
    height: 40px; /*width:50%;*/
    font-size: 14px;
    color: #737373;
    padding: 10px;
    border: 1px solid #cdcdcd;
    outline: none;
    margin: 8px 0
}

.form-style button {
    font-size: 13px;
    color: #aaa;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px;
    background-color: #fff
}

.form-login {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e6e6e6
}

.form-login .row p {
    padding-top: 10px
}

.form-login input {
    margin: 0 0 10px
}

.form-login .form-heading {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0
}

.form-login .form-description {
    font-size: 16px;
    color: #666;
    padding: 10px 0 20px
}

.addresses {
    margin-top: 20px
}

#map {
    width: 100%;
    height: 400px;
    border: 1px solid #000;
    margin-bottom: 20px;
    position: relative;
}

#map iframe {
    width: 100% !important;
    position: absolute;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contact-info p, .contact-info p a {
    color: #444
}

.sp_1, .sp_2 {
    background: left center no-repeat
}

.sp_mail {
    background: left center no-repeat
}

.online_support .block-content div p:first-child {
    color: #424242;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600
}

.online_support .block-content {
    padding: 10px 0;
    border: #ebebeb 1px solid
}

.online_support .block-content div {
    padding-left: 30px;
    margin-left: 15px;
    font-size: 13px;
    word-wrap: break-word;
    padding-right: 5px;
}

.block {
    margin: 30px 0
}

.article_title {
    font-size: 15px;
    color: #333
}

.article_title:hover {
    color: #663399
}

.blog_news .box-heading {
    position: relative
}

.item-name a {
    color: #333;
    font-size: 14px
}

.btn.prev, .btn.next {
    font-size: 20px;
    padding: 5px
}

.hot_sale_product {
    overflow: hidden;
    margin: 10px 0
}

.hot_sale_product .item-img {
    padding: 0
}

.hot_sale_product .item-img img {
    width: 100%
}

.item.blog-post {
    padding: 0 15px
}

.blog-image img {
    width: 100%
}

.box-heading h2 a {
    color: #663399
}

.price.product-price {
    color: #663399 !important
}

.view_all {
    display: inline-block;
    float: right;
    font-style: italic
}

.box-heading {
    position: relative
}

.view_all a {
    color: #333
}

.view_all hover a {
    color: #663399
}

.product_item_mini img {
    width: 100%
}

.product_summary {
    text-align: justify
}

.hot_sale_navigator, .blog-navigator {
    position: absolute;
    top: -7px;
    right: 0
}

.btn-view {
    display: block;
    float: left;
}

.best_product .price-box {
    min-height: initial;
}

#sort-by {
    display: inline-flex;
    margin-top: 5px;
    margin-left: 10px;
}

.sort-by-script {
    height: 20px;
}

#sort-by label {
    margin-right: 5px;
}

.article-content {
    text-align: justify;
}

.entry-footer {
    overflow: hidden;
    border-top-color: #e7e7e7;
    margin-top: 20px;
    padding: 15px 0;
    border-top: dashed 1px #e8e6e2;
    border-bottom: dashed 1px #e8e6e2;
    margin-bottom: 30px;
}

.single-share {
    text-align: right;
    padding-right: 0
}

.single-share span {
    margin-right: 7px;
    text-transform: uppercase;
    font-size: 12px;
}

.single-share .social {
    display: inline-block;
}

.single-share .social li {
    display: inline-block;
}

.single-share .social li a {
    color: #929292;
    border: #e8e6e2 1px solid;
    display: block;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px #e8e6e2;
    color: #aeaeae;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.single-share .social li a:hover {
    color: #663399;
    border: #663399 1px solid;
}

.article-tags li {
    display: inline;
}

.article-tags span {
    float: left;
    margin-right: 10px;
    text-transform: uppercase
}

.article-tags a {
    padding: 0 10px;
    border-radius: 5px;
    border: #ddd 1px dotted;
}

.article-tags {
    padding-left: 0;
    line-height: 30px;
}

.product_item_mini {
    overflow: hidden;
}

.product_item_mini > div:first-child {
    padding: 0
}

.product_item_mini > div:last-child {
    padding-right: 0;
}

.prd_view_detail {
    padding: 12px 15px !important
}

.post_content {
    text-align: justify
}

#admin_bar_iframe {
    display: none;
}

.main-banner {
    font-size: 0;
}

.col-item-5 {
    display: inline-block;
    float: none;
}

.blog-item img {
    width: 100%;
    margin-bottom: 15px;
}

.page-search.header-search {
    max-width: 290px;
    float: left;
}

.page-search #header-search-input, .page-search #header-search-btn {
    border: 1px solid #ddd;
}

.video-container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 55%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

.main-article {
    margin-bottom: 15px;
}

.main-content h1 {
    margin-top: 0;
}

.blog-video {
    margin-bottom: 20px;
}

.blog-tag {
    clear: both;
}

.slide-product .item {
    margin: 0 15px;
}

.slide-product .owl-controls .owl-buttons div.owl-prev {
    position: absolute;
    right: 45px;
    left: auto;
    top: -40px;
}

.slide-product .owl-controls .owl-buttons div.owl-next {
    position: absolute;
    top: -40px;
}

.article-item {
    margin-bottom: 10px;
}

.article-item .article-content h3 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-size: 18px;
    font-weight: normal;
    color: #2a2b2c;
}

.article-item .article-content h3 a {
    line-height: normal;
    font-size: 16px;
    font-weight: 500;
    color: #2a2b2c;
    margin: 10px 0;
    display: block;
}

.article-item .article-content h3 a:hover {
    color: #f55856;
}

.article-item .article-content .article-summary {
    color: #463f3a;
    font-size: 14px;
}

.article-item .article-content .viewMore, .viewMore {
    color: #f55856;
    font-size: 15px;
    padding-top: 10px;
    display: inline-block;
}

.article-item .article-content .viewMore:hover, .viewMore:hover {
    text-decoration: underline;
}

.footer-maps iframe {
    width: 100% !important;
    height: 214px !important;
}

.social .fb a:before {
    content: "\f09a";
    font-family: FontAwesome;
}

.social .fb a {
    background: #3C5B9B;
    font-size: 18px;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.social .fb a:hover {
    background: #3C5B9B;
}

.social .tw a:before {
    content: "\f099";
    font-family: FontAwesome;
}

.social .tw a {
    background: #359BED;
    font-size: 18px;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.social .tw a:hover {
    background: #359BED;
}

.social .googleplus a:before {
    content: "\f0d5";
    font-family: FontAwesome;
}

.social .googleplus a {
    background: #E33729;
    font-size: 18px;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.social .googleplus a:hover {
    background: #E33729;
}

.social .rss a:before {
    content: "\f09e";
    font-family: FontAwesome;
}

.social .rss a {
    content: "\f09e";
    font-family: FontAwesome;
    background: #FD9F13;
    font-size: 18px;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.social .rss a:hover {
    background: #FD9F13;
}

.social .pintrest a:before {
    content: "\f0d3";
    font-family: FontAwesome;
}

.social .pintrest a {
    content: "\f0d3";
    font-family: FontAwesome;
    background: #cb2027;
    font-size: 18px;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.social .pintrest a:hover {
    background: #cb2027;
}

.social .linkedin a:before {
    content: "\f0e1";
    font-family: FontAwesome;
}

.social .linkedin a {
    content: "\f0e1";
    font-family: FontAwesome;
    background: #027ba5;
    font-size: 18px;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.social .linkedin a:hover {
    background: #027ba5;
}

.social .youtube a:before {
    content: "\f167";
    font-family: FontAwesome;
}

.social .youtube a {
    background: #F03434;
    font-size: 18px;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.social .youtube a:hover {
    background: #F03434;
}


.social .instagram a:before {
    content: "\f16d";
    font-family: FontAwesome;
}

.social .instagram a {
    background: #957d60;
    font-size: 18px;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.social .instagram a:hover {
    background: #d7cebb;
}

.social .email a:before {
    content: "\f0e0";
    font-family: FontAwesome;
}

.social .email a {
    background: #5c4dc6;
    font-size: 18px;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.social .email a:hover {
    background: #372998;
}

.social {
    display: inline-block;
    vertical-align: top;
}

.social ul {
    float: left;
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.social ul li {
    margin: 0px 0px 0px 7px;
    display: inline-block;
}

.social a {
    transition: background 400ms ease-in-out;
}

.social-list {
    padding: 5px 15px;
}

.social-list p {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 10px;
    color: #fff;
    line-height: 35px;
}

@media screen and (max-width: 480px) {
    .single-share {
        text-align: left;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .box-heading h2 {
        font-size: 20px;
    }

    .copy-right span {
        display: inherit;
    }
}

@media screen and (max-width: 767px) {
    .copy-right {
        text-align: left;
    }

    .price-box {
        min-height: 45px;
    }

    #sort-by {
        float: right;
    }

    .colletion-topbar .pull-right {
        float: left !important;
        clear: left;
    }

    .nav-tabs > li {
        width: 100%;
    }

    .footer-menu .footer-menu-heading {
        padding: 10px 0;
        margin-top: 15px;
    }

    .mc-list-child {
        display: none
    }

    .cc-list-child {
        display: none
    }

    .header-cart {
        margin-top: 13px;
    }

    .main-categories-content {
        max-height: none;
        height: auto;
        overflow: auto;
    }

    .header-search {
        margin-top: 10px;
    }

    .header-content .col-xs-9 {
        padding: 0;
        padding-left: 15px;
        width: calc(100% - 80px);
    }

    .header-content .col-xs-3 {
        padding: 0;
        padding-right: 15px;
        width: 60px;
        float: right;
    }

    .header-logo {
        text-align: center
    }

    .footer-logo {
        text-align: center
    }

    .product-list-carousel .owl-prev {
        left: 0;
        top: 40%;
        margin-top: -19px
    }

    .product-list-carousel .owl-next {
        right: 0;
        top: 40%;
        margin-top: -19px
    }

    .main-maps {
        margin: 0 15px;
        width: auto;
    }

    .main-maps #map {
        height: 250px !important;
    }

    .title-search {
        font-size: 20px;
    }

    .cart-icon p {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mc-list > li > a {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 0;
        display: block;
    }

    .mc-list-child > li > a {
        font-size: 13px;
    }

    .main-categories-content {
        max-height: 217px;
        overflow: auto;
    }

    .blog-name, .blog-name a {
        font-size: 20px;
        color: #232323;
    }

    .footer-menu .footer-menu-heading {
        padding: 10px 0;
        margin-top: 15px;
    }

    .header-cart {
        margin-top: 46px;
    }

    .header-search {
        margin-top: 42px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-service p {
        margin: 0;
        color: #484848;
        font-size: 14px;
        padding: 10px 0;
    }

    .header-search {
        margin-top: 43px;
    }

    .header-cart {
        margin-top: 45px;
    }

    .main-nav-content ul li a {
        font-size: 13px;
        line-height: normal;
        color: #fff;
        display: block;
        padding: 15px 13px 16px;
        text-transform: uppercase;
    }

    .main-categories-content {
        max-height: 349px;
        overflow: auto;
    }

    .mc-list > li > a {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 0;
        display: block;
    }

    .mc-list-child > li > a {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    .col-item-5 {
        width: 20%;
    }
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
    width: 100% !important;
}

@media (min-width: 1200px) {
    .header-content {
        background: url("//bizweb.dktcdn.net/100/165/948/themes/222276/assets/bannertop.png?1610013438347");
        background-size: contain;
    }

    .header-search {
        display: none;
    }
}